<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new schedule</title>
  </head>
  <body>
    <form action="/schedules" method="post">
      <label for="firstname">Firstname:</label>
      <input type="text" id="firstname" name="firstname" />
      <label for="lastname">Secondname:</label>
      <input type="text" id="lastname" name="lastname" />
      <label for="week_day">Week day:</label>
      <input type="number" min="1" max="7" id="week_day" name="week_day" />
      <label for="start_time">Start at:</label>
      <input type="text" id="start_time" name="start_time" />
      <label for="end_time">End at:</label>
      <input type="text" id="end_time" name="end_time" />
      <input class="button" type="submit" value="SUBMIT" />
    </form>
  </body>
</html>
