<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new schedule</title>
  </head>
  <body>
    <form action="/schedules" method="post">
      <label for="user_id">User name:</label>
      <select id="user_id" name="user_id">
        <% for ( let i=0; i<usersList.length; i++) {%>
        <option value="<%=i%>" >
          <%= usersList[i].firstname %> <%= usersList[i].lastname %> 
        </option>
        <% } %>
      </select>
      <label for="day">Day:</label>
      <select id="day" name="day">
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
        <option value="7">Sunday</option>
      </select>
      <label for="start_at">Start at:</label>
      <input type="text" id="start_at" name="start_at" />
      <label for="end_at">End at:</label>
      <input type="text" id="end_at" name="end_at" />
      <input class="button" type="submit" value="SUBMIT" />
    </form>
  </body>
</html>
