<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new schedule</title>
  </head>
  <body>
    <form action="/schedules" method="post">
      <label for="firstname">Firstname:</label>
      <input type="text" id="firstname" name="firstname" />
      <label for="lastname">Secondname:</label>
      <input type="text" id="lastname" name="lastname" />
      <label for="week_day">Week day:</label>
      <select id="week_day" name="week_day">
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
        <option value="7">Sunday</option>
      </select>

      <label for="start_time">Start at (hh:mm):</label>
      <input type="text" id="start_time" name="start_time" />
      <label for="end_time">End at (hh:mm):</label>
      <input type="text" id="end_time" name="end_time" />
      <input class="button" type="submit" value="SUBMIT" />
    </form>
  </body>
</html>
