<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choosen user</title>
  </head>
  <body>
    <h1>This is the user you've choosen: <%= userId %></h1>
    <h3>User infromation:</h3>
    <ul>
      <li>
        name: <b><%= userIdInfo.firstname%> </b>surname:
        <b> <%= userIdInfo.lastname%></b> email: <b><%= userIdInfo.email%> </b>
      </li>
    </ul>
  </body>
</html>
